.solutionBox .subTitle {
  padding: 20px;
  text-align: center;
  color: #fff;
  background: #93a8ac;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px) {
  .solutionBox .subTitle {
    font-size: 1.25rem;
  }
}
.solutionBox .solution .solutionTop {
  display: flex;
  margin-bottom: 5%;
}
@media screen and (max-width: 767px) {
  .solutionBox .solution .solutionTop {
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 30px;
  }
}
.solutionBox .solution .solutionTop .item {
  padding: 20px;
  width: 100%;
  flex-shrink: 0;
  max-width: 180px;
  text-align: center;
  margin: 0 50px 0 0;
}
@media screen and (max-width: 1000px) {
  .solutionBox .solution .solutionTop .item {
    max-width: 180px;
    margin: 0 20px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .solutionBox .solution .solutionTop .item {
    margin: 0 auto;
  }
}
.solutionBox .solution .solutionTop .item .icon {
  max-width: 150px;
  border-radius: 100%;
  box-shadow: 0 0 0 16px #93a8ac;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  background: #fff;
  position: relative;
}
.solutionBox .solution .solutionTop .item .icon:before {
  content: "";
  display: block;
  -webkit-mask: url("../images/index/industries_out.svg") center no-repeat;
          mask: url("../images/index/industries_out.svg") center no-repeat;
  background: #ec6b00;
  animation: rotate360 3s 0s linear infinite;
  position: absolute;
  inset: -6px;
  aspect-ratio: 1;
}
.solutionBox .solution .solutionTop .item .icon img {
  width: 70%;
  aspect-ratio: 1;
}
.solutionBox .solution .solutionTop .title {
  font-size: 3rem;
  font-weight: 700;
  color: #19647e;
}
@media screen and (max-width: 1000px) {
  .solutionBox .solution .solutionTop .title {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 767px) {
  .solutionBox .solution .solutionTop .title {
    font-size: 1.5rem;
    text-align: center;
  }
}
.solutionBox .solution .listBox {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .solutionBox .solution .listBox {
    flex-direction: column;
  }
}
.solutionBox .solution .listBox .item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  animation-delay: 0.2s;
  position: relative;
}
@media screen and (max-width: 767px) {
  .solutionBox .solution .listBox .item {
    width: 100%;
  }
}
.solutionBox .solution .listBox .item::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  border: 2px solid transparent;
  pointer-events: none;
  transition: all 0.3s ease;
}
.solutionBox .solution .listBox .item:hover {
  box-shadow: 0 0 15px 0 rgba(236, 107, 0, 0.5);
}
.solutionBox .solution .listBox .item:hover::before {
  border-color: #ec6b00;
}
.solutionBox .solution .listBox .item:hover .more {
  color: #ec6b00;
}
.solutionBox .solution a {
  display: block;
  padding: 12% 10%;
  background: #fff;
}
.solutionBox .solution .pic {
  margin-bottom: 5%;
}
.solutionBox .solution .title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #000;
  line-height: 1.2;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1000px) {
  .solutionBox .solution .title {
    font-size: 1.125rem;
  }
}
.solutionBox .solution .more {
  color: #19647e;
  font-weight: 500;
  font-size: 1.125rem;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1000px) {
  .solutionBox .solution .more {
    font-size: 1rem;
  }
}/*# sourceMappingURL=solution.css.map */